;----------FILE MODIFICATION (YY/MM/DD): [2024/11/13] ---------------||
;----------BY: zzzz----------------------||

filter:
{
	"hammerid" "417"
}
{
	"hammerid" "469"
}
{
	"hammerid" "467"
}

add:
{
	"solid" "6"
	"origin" "-529 -250 0"
	"angles" "0 269 0"
	"model"	 "models/props_industrial/warehouse_shelf002.mdl"
	"classname"	"prop_dynamic"
}

add:
{
	"targetname" "l4d2_spawn_props_object_2024_11_13"
	"solid" "6"
	"classname"	"weapon_ammo_spawn"
	"origin" "-458.93 457.96 768.03"
	"angles" "0.00 138.60 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"model"	 "models/props/terror/ammo_stack.mdl"
	"count"	"5"
}

{
	"targetname" "l4d2_spawn_props_object_2024_11_13"
	"solid" "6"
	"classname"	"weapon_ammo_spawn"
	"origin" "445.59 465.90 3584.03"
	"angles" "0.00 86.74 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"model"	 "models/props/terror/ammo_stack.mdl"
	"count"	"5"
}

{
	"targetname" "l4d2_spawn_props_object_2024_11_13"
	"solid" "6"
	"classname"	"weapon_ammo_spawn"
	"origin" "-596.28 -194.12 0.03"
	"angles" "0.00 332.97 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"model"	 "models/props/terror/ammo_stack.mdl"
	"count"	"5"
}

{
	"targetname" "l4d2_spawn_props_object_2024_11_13"
	"solid" "6"
	"classname"	"weapon_pumpshotgun_spawn"
	"origin" "-426.56 480.65 769.03"
	"angles" "0.00 350.68 270.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"5"
}

{
	"targetname" "l4d2_spawn_props_object_2024_11_13"
	"solid" "6"
	"classname"	"weapon_smg_spawn"
	"origin" "-437.87 435.84 769.03"
	"angles" "0.00 79.67 270.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"5"
}

{
	"targetname" "l4d2_spawn_props_object_2024_11_13"
	"solid" "6"
	"classname"	"weapon_smg_silenced_spawn"
	"origin" "-420.06 455.21 769.03"
	"angles" "0.00 45.26 270.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"5"
}

;----------FILE MODIFICATION [2024_11_13] ---------------||
;----------BY: zzzzzzz----------------------||

add:
{
	"targetname" "l4d2_spawn_props_object_2024_11_13"
	"origin" "-980.65 -58.53 4096.43"
	"angles" "0.08 359.90 0.00"
	"model"	 "models/props_junk/dumpster_2.mdl"
	"classname"	"prop_physics_override"
}

{
	"targetname" "l4d2_spawn_props_object_2024_11_13"
	"origin" "-981.21 -152.15 4096.43"
	"angles" "360.17 359.69 360.00"
	"model"	 "models/props_junk/dumpster_2.mdl"
	"classname"	"prop_physics_override"
}

;----------FILE MODIFICATION [2024_11_13] ---------------||
;----------BY: zzzzzz----------------------||

add:
{
	"targetname" "l4d2_spawn_props_object_2024_11_13"
	"solid" "6"
	"origin" "-697.42 756.55 4864.03"
	"angles" "360.00 179.82 0.00"
	"model"	 "models/props_foliage/urban_pot_square01.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2024_11_13"
	"solid" "6"
	"origin" "-597.42 756.55 4864.03"
	"angles" "360.00 179.82 0.00"
	"model"	 "models/props_foliage/urban_pot_square01.mdl"
	"classname"	"prop_dynamic_override"
}

;----------FILE MODIFICATION [2024_11_13] ---------------||
;----------BY: zzzzzzz----------------------||

add:
{
	"targetname" "l4d2_spawn_props_object_2024_11_13"
	"solid" "6"
	"origin" "-697.33 745.87 4901.98"
	"angles" "0.00 93.39 0.00"
	"model"	 "models/props_foliage/mall_bigleaves_plant03_medium.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2024_11_13"
	"solid" "6"
	"origin" "-596.20 745.43 4901.98"
	"angles" "0.00 106.29 0.00"
	"model"	 "models/props_foliage/mall_bigleaves_plant03_medium.mdl"
	"classname"	"prop_dynamic_override"
}

