;----------FILE MODIFICATION (YY/MM/DD): [2024/11/13] ---------------||
;----------BY: zzzzzz----------------------||

filter:
{
	"hammerid" "364"
}
{
	"hammerid" "4539"
}
{
	"hammerid" "4540"
}
{
	"hammerid" "4541"
}
{
	"hammerid" "4542"
}
{
	"hammerid" "20058"
}
{
	"hammerid" "17280"
}
{
	"hammerid" "14782"
}
{
	"hammerid" "14749"
}