;----------FILE MODIFICATION [2025_10_26] ---------------||
;----------BY: (S) zzzz----------------------||

filter:
{
	"hammerid" "10137"
}
{
	"hammerid" "10139"
}
{
	"hammerid" "10141"
}
{
	"hammerid" "10143"
}
{
	"hammerid" "10145"
}
{
	"hammerid" "51771"
}
{
	"hammerid" "57529"
}
{
	"hammerid" "114868"
}
{
	"hammerid" "119915"
}