;----------FILE MODIFICATION [2025_10_26] ---------------||
;----------BY: (S) zzzz----------------------||

filter:
{
	"hammerid" "111148"
}
{
	"hammerid" "111150"
}
{
	"hammerid" "111152"
}
{
	"hammerid" "111154"
}
{
	"hammerid" "111406"
}
{
	"hammerid" "538463"
}
{
	"hammerid" "538465"
}
{
	"hammerid" "538467"
}
{
	"hammerid" "538469"
}
{
	"hammerid" "538511"
}
{
	"hammerid" "538513"
}
{
	"hammerid" "538515"
}
{
	"hammerid" "538517"
}