;----------FILE MODIFICATION [2025_10_26] ---------------||
;----------BY: (S) zzzz----------------------||

filter:
{
	"hammerid" "187410"
}
{
	"hammerid" "187412"
}
{
	"hammerid" "187414"
}
{
	"hammerid" "187416"
}
{
	"hammerid" "990978"
}
{
	"hammerid" "991225"
}
{
	"hammerid" "991219"
}
{
	"hammerid" "991223"
}
{
	"hammerid" "2565413"
}
{
	"hammerid" "2740352"
}
{
	"hammerid" "2740360"
}
{
	"hammerid" "2740362"
}
{
	"hammerid" "2740364"
}
{
	"hammerid" "2740368"
}