;----------FILE MODIFICATION [2025_10_26] ---------------||
;----------BY: (S) zzzz----------------------||

filter:
{
	"hammerid" "49705"
}
{
	"hammerid" "49736"
}
{
	"hammerid" "49738"
}
{
	"hammerid" "49740"
}