filter:
{
	"hammerid" "34859"
}
{
	"hammerid" "148127"
};----------FILE MODIFICATION [2024_12_21] ---------------||
;----------BY: (S) zzzzz----------------------||

add:
{
	"targetname" "l4d2_spawn_props_object_2024_12_21"
	"solid" "6"
	"classname"	"weapon_ammo_spawn"
	"origin" "-8639.68 -11165.06 7424.03"
	"angles" "0.00 266.70 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"model"	 "models/props/terror/ammo_stack.mdl"
	"count"	"5"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_21"
	"solid" "6"
	"classname"	"weapon_pistol_spawn"
	"origin" "-8612.31 -11141.18 7425.03"
	"angles" "0.00 212.25 270.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_21"
	"solid" "6"
	"classname"	"weapon_pistol_spawn"
	"origin" "-8631.06 -11141.46 7425.03"
	"angles" "360.00 675.35 1170.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_21"
	"solid" "6"
	"classname"	"weapon_smg_silenced_spawn"
	"origin" "-8663.75 -11136.15 7425.03"
	"angles" "0.00 188.17 270.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"5"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_21"
	"solid" "6"
	"classname"	"weapon_pumpshotgun_spawn"
	"origin" "-8662.65 -11157.18 7425.03"
	"angles" "0.00 426.99 450.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"5"
}

