filter:
{
	"hammerid" "377262"
}
{
	"hammerid" "396366"
}
{
	"hammerid" "396354"
}
{
	"hammerid" "396334"
}
{
	"hammerid" "396246"
}
{
	"hammerid" "470725"
}
{
	"hammerid" "396322"
}
{
	"hammerid" "466034"
}
{
	"hammerid" "466118"
}
{
	"hammerid" "519395"
}
{
	"hammerid" "383315"
};----------FILE MODIFICATION [2024_12_21] ---------------||
;----------BY: zzzzz----------------------||

add:
{
	"targetname" "l4d2_spawn_props_object_2024_12_21"
	"solid" "6"
	"origin" "-6406.15 -10470.09 2999.96"
	"angles" "0.00 41.46 0.00"
	"model"	 "models/props/cs_office/Light_ceiling.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_21"
	"solid" "6"
	"origin" "-6572.41 -10733.82 2880.03"
	"angles" "0.00 -43.31 0.00"
	"model"	 "models/props/de_nuke/crate_small.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_21"
	"solid" "6"
	"origin" "-6495.81 -10184.06 2880.03"
	"angles" "0.00 89.85 0.00"
	"model"	 "models/props/cs_militia/boxes_frontroom.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_21"
	"solid" "6"
	"origin" "-6186.68 -10794.95 2879.03"
	"angles" "360.00 180.14 0.00"
	"model"	 "models/props_industrial/warehouse_shelf001.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_21"
	"solid" "6"
	"origin" "-6456.79 -10335.77 2879.03"
	"angles" "0.00 -89.67 0.00"
	"model"	 "models/props_industrial/warehouse_shelf002.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_21"
	"solid" "6"
	"origin" "-6023.39 -10096.62 2879.03"
	"angles" "0.00 -89.91 0.00"
	"model"	 "models/props_industrial/warehouse_shelf003.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_21"
	"solid" "6"
	"origin" "-6176.16 -10430.88 2880.03"
	"angles" "0.00 89.46 0.00"
	"model"	 "models/props_industrial/warehouse_shelf003.mdl"
	"classname"	"prop_dynamic_override"
}
;----------FILE MODIFICATION [2024_12_22] ---------------||
;----------BY: zzzzz----------------------||

add:
{
	"targetname" "l4d2_spawn_props_object_2024_12_22"
	"solid" "6"
	"origin" "-6490.52 -10081.05 2880.03"
	"angles" "0.00 44.13 0.00"
	"model"	 "models/props/cs_militia/boxes_frontroom.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_22"
	"solid" "6"
	"origin" "-5631.96 -10499.06 2864.57"
	"angles" "0.00 179.04 0.00"
	"model"	 "models/props_exteriors/concrete_plant01_stairs_platform.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_22"
	"solid" "6"
	"origin" "-6704.96 -10465.77 2876.59"
	"angles" "0.00 179.77 0.00"
	"model"	 "models/props_c17/truss02d.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_22"
	"solid" "6"
	"origin" "-5614.96 -10175.77 2876.59"
	"angles" "0.00 179.77 0.00"
	"model"	 "models/props_c17/truss02d.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_22"
	"solid" "6"
	"origin" "-5584.96 -10175.77 2876.59"
	"angles" "0.00 179.77 0.00"
	"model"	 "models/props_c17/truss02d.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_22"
	"solid" "6"
	"origin" "-6671.96 -10145.77 2876.59"
	"angles" "0.00 179.77 0.00"
	"model"	 "models/props_c17/truss02d.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_22"
	"solid" "6"
	"origin" "-6672.96 -10465.77 2876.59"
	"angles" "0.00 179.77 0.00"
	"model"	 "models/props_c17/truss02d.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_22"
	"solid" "6"
	"origin" "-6097.52 -10543.05 2880.03"
	"angles" "0.00 44.13 0.00"
	"model"	 "models/props/cs_militia/boxes_frontroom.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_22"
	"solid" "6"
	"origin" "-6703.96 -10145.77 2876.59"
	"angles" "0.00 179.77 0.00"
	"model"	 "models/props_c17/truss02d.mdl"
	"classname"	"prop_dynamic_override"
}

;----------FILE MODIFICATION [2024_12_22] ---------------||
;----------BY: (S) zzzzzz----------------------||

add:
{
	"targetname" "l4d2_spawn_props_object_2024_12_22"
	"solid" "6"
	"origin" "-6462.96 -10588.22 3006.03"
	"angles" "360.00 269.98 0.00"
	"model"	 "models/props_industrial/warehouse_shelf004.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_22"
	"solid" "6"
	"origin" "-6319.96 -10179.22 3006.03"
	"angles" "360.00 179.98 0.00"
	"model"	 "models/props_industrial/warehouse_shelf004.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_22"
	"solid" "6"
	"origin" "-6055.09 -10292.08 3008.03"
	"angles" "0.00 142.35 0.00"
	"model"	 "models/props/cs_militia/boxes_frontroom.mdl"
	"classname"	"prop_dynamic_override"
}

