;----------FILE MODIFICATION [2025_10_26] ---------------||
;----------BY: (S) zzzz----------------------||

filter:
{
	"hammerid" "122277"
}
{
	"hammerid" "330894"
}
{
	"hammerid" "1387202"
}
{
	"hammerid" "1387196"
}
{
	"hammerid" "1099331"
}
{
	"hammerid" "1387200"
}
{
	"hammerid" "1387198"
}
{
	"hammerid" "1162379"
}
{
	"hammerid" "2393087"
}
{
	"hammerid" "2393089"
}
{
	"hammerid" "2393091"
}
{
	"hammerid" "2393093"
}
{
	"hammerid" "2393095"
}
{
	"hammerid" "2393097"
}
{
	"hammerid" "2601145"
}
{
	"hammerid" "2601147"
}
{
	"hammerid" "2601147"
}