;----------FILE MODIFICATION [2025_10_26] ---------------||
;----------BY: (S) zzzz----------------------||

filter:
{
	"hammerid" "1849307"
}
{
	"hammerid" "1849309"
}
{
	"hammerid" "1849317"
}
{
	"hammerid" "1849319"
}
{
	"hammerid" "1820963"
}
{
	"hammerid" "1975820"
}
{
	"hammerid" "1975822"
}
{
	"hammerid" "1975824"
}