;----------FILE MODIFICATION [2025_10_26] ---------------||
;----------BY: (S) zzzz----------------------||

filter:
{
	"hammerid" "709144"
}
{
	"hammerid" "709146"
}
{
	"hammerid" "709148"
}
{
	"hammerid" "709150"
}
{
	"hammerid" "773744"
}
{
	"hammerid" "773746"
}
{
	"hammerid" "773748"
}
{
	"hammerid" "773750"
}