;----------FILE MODIFICATION [2025_10_26] ---------------||
;----------BY: (S) zzzz----------------------||

filter:
{
	"hammerid" "926881"
}
{
	"hammerid" "926883"
}
{
	"hammerid" "926885"
}
{
	"hammerid" "926889"
}
{
	"hammerid" "585218"
}
{
	"hammerid" "871076"
}
{
	"hammerid" "876503"
}
{
	"hammerid" "876513"
}
{
	"hammerid" "876525"
}