;----------FILE MODIFICATION [2025_10_26] ---------------||
;----------BY: (S) zzzz----------------------||

filter:
{
	"hammerid" "957841"
}
{
	"hammerid" "957843"
}
{
	"hammerid" "957851"
}
{
	"hammerid" "957853"
}
{
	"hammerid" "970452"
}
{
	"hammerid" "970454"
}
{
	"hammerid" "970456"
}
{
	"hammerid" "970460"
}
{
	"hammerid" "970460"
}
{
	"hammerid" "737084"
}
{
	"hammerid" "501090"
}